@font-face {
    font-family: iranyekan;
    src: url(./IRANYekanThin.ttf);
    font-weight: 100;
 }
@font-face {
    font-family: iranyekan;
    src: url(./IRANYekanLight.ttf);
    font-weight: 200;
 }
@font-face {
    font-family: iranyekan;
    src: url(./IRANYekanRegular.ttf);
    font-weight: 300;
 }
@font-face {
    font-family: iranyekan;
    src: url(./IRANYekanMedium.ttf);
    font-weight: 400;
 }
@font-face {
    font-family: iranyekan;
    src: url(./IRANYekanBold.ttf);
    font-weight: 500;
 }
@font-face {
    font-family: iranyekan;
    src: url(./IRANYekanExtraBold.ttf);
    font-weight: 600;
 }
@font-face {
    font-family: iranyekan;
    src: url(./IRANYekanBlack.ttf);
    font-weight: 700;
 }
@font-face {
    font-family: iranyekan;
    src: url(./IRANYekanExtraBlack.ttf);
    font-weight: 800;
 }
